{% extends "layout.html" %}
{% block title %}Competition Platform{% endblock %}
{% block page %}Competition Platform{% endblock %}

{{ super() }}

{% block content %}
<div class="container">
    <h1>Welcome to the Competition Platform</h1>
    {% if is_authenticated %}
        <p> Welcome {{current_user.username}}! Ready to </p>
        <div class="row">
            {% if session['user_type'] == 'moderator'%}
                <a href="/createcompetition" class="btn grey darken-1">Create Competition</a>
                <a href="/importresults" class="btn grey lighten-1">Import Competition Results</a>
            {% endif %}
                <a href="/competitionlist" class="btn grey darken-1">Competition List</a>
                <a href="/results" class="btn grey lighten-1">Leaderboard</a>
        </div>
    {% else %}
        <p>Please login to access the competition platform features</p>
    {% endif %}

</div>
{% endblock %}
